header {
  background: linear-gradient(45deg, #9FB9FE 0%, #CBE6FF 98%); height:300px;
  color: #FFF;
  position: relative;
  z-index: -2;
}

.bg-p3 {
  /* lg pelindo: */
  opacity: 0.45;
  transform: rotate(-7deg);
  height: 450px;
  position: absolute;
  right: 15%;
  top: -30px;
  z-index: -1;
}
.title {
  font-size: 60pt;
  margin-top: 70px;
}
.date {

}
.shadow {
   box-shadow:0 2px 15px 0 rgba(0, 0, 0, 0.18);
}
.grad-blue {
  /* Mask: */
  background-image: linear-gradient(50deg, #D4ECFF 0%, #FDFEFF 100%);
}
.card {
  border: none;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f8f8f8;
    border-radius: 3px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F0F0F0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #F4F4F4;
}

.date {
  font-size:21pt;
  margin-bottom:-10px;
}
.clock {
  font-size:50pt;
}

.head {
  margin-top:30px;
  height:100px;
  border-radius:8px;
  z-index:20;
}
.head-content {
  color:#B4C8FF;
  padding:30px 0 0;
}
.head-text {
  border-right: solid 1px lightgrey;
}

.cn-scrolls {
  padding:0px 60px;
  margin-top: 26px;
}

.cn-scroll {
  height:530px;
  overflow-y:scroll;
}
.cn-card {
  margin-top:16px;
  height:100px;
  border-radius: 8px;
}
.cn-card-bd {
  color:#838383;
  padding:30px 0 0;
}

.vessel-name {
  background-color:#B4C8FF;
  color:#FFF;
  position:relative;
  margin: -30px -30px 0 0;
  padding:30px 50px 29px 50px;
  border-radius: 8px 0 0 8px;
}

.cn-row {
  position:relative;
  padding: 0 60px 0 60px;
}
.cn-row-in {
  position:absolute;
  bottom: 15px;
}
